body,a {
    color: white;
}

body {
    background-color: black;
    font-family: monospace;
}

a {
    text-decoration: none;
}

a:hover {
    color: aqua;
}

#container a {
    text-decoration: underline;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1em;
  }

div {
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.works-list {
    padding: .5%;
    padding-left: 1%;
}

.section {
    text-align: left;
}

#salary-table {
    margin-left: auto;
    margin-right: auto;
}

#salary-table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: .5%;
    padding-left: 5px;
    padding-right: 5px;
    overflow: hidden;
}

#footer > a {
    padding-bottom: 2%;
}

@media screen and (min-width: 480px) {
    #container {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    #container {
        width: 95%;
    }
}

#container {
    display: block;
    margin: auto;
    height: 90%; 
}

#navigation {
    display: block;
    top: 0;
    overflow: hidden;
    background-color: black;
}

#nav-bar li {
    display: inline;
}

#nav-bar li:not(:last-child)::after {
    content: " /";
}

#interest-list {
    position: relative;
    margin: auto;
    /* width: 75%; */
}

#literature-interest-list li, #music-interest-list li{
    padding: 2px;
}

#art-interest-list li {
    padding-bottom: 2em;
}

#selected-works-list li {
    padding-left: 1%;
    padding-bottom: 1%;
}

#publications-interest-list li {
    padding-bottom: 1%;
}

#miscellanea li {
    padding-left: 2%;
}

.company-entry:not(:last-child) {
    padding-bottom: 2%;
}

.company-entry li {
    padding-left: 1%;
    padding-bottom: 1%;
}

.company-entry li::before {
    content: "- ";
}

#resume > ul > li {
    padding-bottom: 1%;
}