body,a {
    color: white;
}

body {
    background-color: black;
    /*background-image: url('../assets/jack_rackham.PNG');*/
    font-family: monospace;
}

a {
    text-decoration: none;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 1em;
  }

.works-list {
    text-align: right;
}

#container {
    position: absolute;
    margin: auto;
    width: 50%;
    height: 90%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#nav-bar li {
    display: inline;
}

#nav-bar li:not(:last-child)::after {
    content: " /";
}

#interest-list {
    position: relative;
    margin: auto;
    width: 75%;
}

#interest-list li h5{
    padding: 2em;
}

#literature-interest-list {
    text-align: left;
}

#art-interest-list li {
    padding-bottom: 2em;
}